button {
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.3s;
    background: none;

    &.primary-btn {
      font-weight: 700;
      line-height: 16px;
      color: $white;
      background: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 40px;
      border-radius: 32px;

      &:hover {
        background: transparent;
        color: $primary;
        border-color: $primary;
      }
    }
  }