// colors
$dark: hsla(0, 0%, 7%, 1);
$dark-translucent: hsla(0, 0%, 7%, 0.5);
$primary: hsla(21, 50%, 79%, 1);
$white: hsla(0, 0%, 100%, 1);

// fonts
$paragraph: 700 42px/50px "Roboto", sans-serif;
$paragraph-sm: 700 25px/30px "Roboto", sans-serif;

// indents
$paragraph-indent: 24px;
$paragraph-indent-sm: 15px;